[submodule "external/stdpp"]
	path = external/stdpp
	url = https://gitlab.mpi-sws.org/iris/stdpp.git
[submodule "external/iris"]
	path = external/iris
	url = https://gitlab.mpi-sws.org/iris/iris.git
[submodule "external/iris-named-props"]
	path = external/iris-named-props
	url = https://github.com/tchajed/iris-named-props
